.main {
  padding-top: 110px;

  @include on-tablet {
    padding-top: 140px;
  }

  @include on-desktop {
    padding-top: 65px;
  }

  &__features{
    margin-top: 110px;
  }

  &__welcome {
    margin-top: 110px;

    @include on-tablet {
      margin-top: 140px;
    }

    @include on-desktop {
      margin-top: 170px;
    }
  }

  &__quots {
    margin-top: 110px;

    @include on-tablet {
      margin-top: 140px;
    }

    @include on-desktop {
      margin-top: 170px;
    }
  }

}
