$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$transition-time: 0.3s;
$c-logo: #000;
$c-main-bg: #F7F7F7;
$c-menu-bg: #F9F9F9;
$c-features-bg: #D6ECEC;
$c-feature-title: #0C797A;
$c-acent-light: #0DB2B3;
$c-acent-hover-light: #0C797A;
$c-acent-disabled-light: #CFEFF0;
$c-acent-dark: #333;
$c-acent-hover-dark: #131313;
$c-acent-disabled-dark: #D0D0D0;
$c-typo: #333;
$c-typo-secondary: #7C7C7C;
$c-typo-tertiary: #BDBDBD;
$c-cart: #4F4F4F;
$c-placeholder: #BDBDBD;
$c-placeholder-hover: #333;
$c-placeholder-focused: #333;
$c-form-border: #828282;
$c-form-border-error: #EB5757;
