$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$transition-time: 0.3s;
$c-logo: #000;
$c-main-bg: #f7f7f7;
$c-menu-bg: #f9f9f9;
$c-features-bg: #d6ecec;
$c-feature-title: #0c797a;
$c-acent-light: #0db2b3;
$c-acent-hover-light: #0c797a;
$c-acent-disabled-light: #cfeff0;
$c-acent-dark: #333;
$c-acent-hover-dark: #131313;
$c-acent-disabled-dark: #d0d0d0;
$c-typo: #333;
$c-typo-secondary: #7c7c7c;
$c-typo-tertiary: #bdbdbd;
$c-cart: #4f4f4f;
$c-placeholder: #bdbdbd;
$c-placeholder-hover: #333;
$c-placeholder-focused: #333;
$c-form-border: #828282;
$c-form-border-error: #eb5757;
